apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{app_name}}
  name: {{app_name}}
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      protocol: TCP
  selector:
    app: {{app_name}}
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{app_name}}-ingress
  annotations:
    INGRESS.kubernetes.io/rewrite-target: /
spec:
  rules:
  - host: {{branch_slug}}.172.22.101.111.nip.io
    http:
      paths:
      - path: /
        backend:
          serviceName: {{app_name}}
          servicePort: 3000
